{
  "jwtSecret": "put your secret here",
  "port":      "the port number to bind",
  "host":      "you may specify host (ip), e.g. my-dp-ns.mysupport.net (1.1.1.1) to bind to",
  "maxBody":   "100kb",
  "debug":     false,
  "secure":    false,
  "keyFile":   "/path/to/private.key",
  "certFile":  "/path/to/certificate/bundle"
}